.tenebris :root {
  --font-primary: 'Caslon', sans-serif;
  --font-secondary: 'Cat Franken', sans-serif;
  --font-size-base: var(--font-size-16);
}
@font-face {
  font-family: "Cat Franken";
  src: url("../fonts/catfranken-deutsch.ttf") format("truetype");
}
@font-face {
  font-family: "Caslon";
  src: url("../fonts/caslonpro-regular.otf") format("truetype");
}
@font-face {
  font-family: "Caslon Bold";
  src: url("../fonts/caslonpro-bold.otf") format("truetype");
}
@font-face {
  font-family: "Caslon Bold Italic";
  src: url("../fonts/caslonpro-bolditalic.otf") format("truetype");
}
@font-face {
  font-family: "Caslon Italic";
  src: url("../fonts/caslonpro-italic.otf") format("truetype");
}
.tenebris .character-content {
  font-family: "Caslon", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .character-content input[name="name"] {
  height: 60px;
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}
.tenebris .character-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .character-content .form-fields {
  padding-top: 5px;
}
.tenebris .character-content .form-fields input,
.tenebris .character-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .character-content .form-fields input {
  padding-top: 10px;
}
.tenebris .character-content .form-fields select {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .character-content legend {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .character-content label {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .character-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tenebris .character-main .character-personnage {
  flex: 0 0 60%;
}
.tenebris .character-main .character-personnage .character-personnag-contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tenebris .character-main .character-personnage .character-personnag-contenu .character-name {
  display: flex;
}
.tenebris .character-main .character-personnage .character-personnag-contenu .character-personnage-gauche,
.tenebris .character-main .character-personnage .character-personnag-contenu .character-personnage-droite {
  margin-top: 10px;
}
.tenebris .character-main .character-personnage .character-personnag-contenu .character-personnage-gauche {
  margin-right: 10px;
}
.tenebris .character-main .character-personnage .character-personnag-contenu .character-personnage-gauche .character-voie-majeure {
  display: flex;
  flex-direction: row;
}
.tenebris .character-main .character-personnage .character-personnag-contenu .character-personnage-droite {
  display: flex;
  flex-direction: column;
}
.tenebris .character-main .character-personnage .character-personnag-contenu .character-personnage-droite .character-pv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tenebris .character-main .character-personnage .character-personnag-contenu .character-personnage-droite .character-pv input[name="system.pv.max"] {
  padding-top: 10px;
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
  width: 80px;
}
.tenebris .character-main .character-personnage .character-img {
  width: 100px;
  margin: 10px;
}
.tenebris .character-main .character-personnage .character-voies {
  display: flex;
  flex-direction: row;
}
.tenebris .character-main .character-caracteristiques {
  width: 15%;
}
.tenebris .character-main .character-caracteristiques input {
  width: 20px;
}
.tenebris .character-main .character-ressources {
  width: 20%;
}
.tenebris .character-items .talent {
  display: flex;
}
.tenebris .path-content {
  font-family: "Caslon", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .path-content input[name="name"] {
  height: 60px;
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}
.tenebris .path-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .path-content .form-fields {
  padding-top: 5px;
}
.tenebris .path-content .form-fields input,
.tenebris .path-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .path-content .form-fields input {
  padding-top: 10px;
}
.tenebris .path-content .form-fields select {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .path-content legend {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .path-content label {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .path-content .path-name {
  display: flex;
  justify-content: space-between;
}
.tenebris .path-content .path-name .control {
  margin: 5px;
}
.tenebris .path-content .path-main {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  /* Optionnel : supprimer le margin-right sur la dernière colonne si vous avez besoin d'un espacement précis */
}
.tenebris .path-content .path-main .profil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tenebris .path-content .path-main .profil-gauche,
.tenebris .path-content .path-main .profil-droite {
  flex: 1;
  /* Chaque colonne prend la moitié de l'espace disponible */
  padding: 10px;
  /* Espacement intérieur */
}
.tenebris .path-content .path-main .profil-gauche {
  margin-right: 10px;
  /* Espace entre les deux colonnes */
}
.tenebris .path-content .path-main .profil-droite {
  margin-right: 0;
}
.tenebris .path-content .path-main .biens prose-mirror {
  height: 100%;
}
.tenebris .path-content .path-main .langues prose-mirror {
  height: 100%;
}
.tenebris .path-content .path-main .description {
  grid-column: span 3;
}
.tenebris .path-content .path-main .description prose-mirror {
  min-height: 100%;
}
.tenebris .path-content .path-talents {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.tenebris .path-content .path-talents .talent {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}
.tenebris .path-content .path-talents .talent .header {
  display: flex;
  justify-content: space-between;
}
.tenebris .path-content .path-talents .talent .header .name {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.5);
  padding-left: 20px;
}
.tenebris .path-content .path-talents .talent .header .controls {
  font-size: calc(var(--font-size-standard) * 0.8);
}
.tenebris .path-content .path-talents .talent .progression {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.tenebris .path-content .path-talents .talent .description {
  font-size: calc(var(--font-size-standard) * 1);
}
.tenebris .talent-content {
  font-family: "Caslon", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .talent-content input[name="name"] {
  height: 60px;
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}
.tenebris .talent-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .talent-content .form-fields {
  padding-top: 5px;
}
.tenebris .talent-content .form-fields input,
.tenebris .talent-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .talent-content .form-fields input {
  padding-top: 10px;
}
.tenebris .talent-content .form-fields select {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .talent-content legend {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .talent-content label {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .talent-content input[type="checkbox"] {
  font-size: var(--font-size-14);
}
.tenebris .weapon-content {
  font-family: "Caslon", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .weapon-content input[name="name"] {
  height: 60px;
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}
.tenebris .weapon-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .weapon-content .form-fields {
  padding-top: 5px;
}
.tenebris .weapon-content .form-fields input,
.tenebris .weapon-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .weapon-content .form-fields input {
  padding-top: 10px;
}
.tenebris .weapon-content .form-fields select {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .weapon-content legend {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .weapon-content label {
  font-family: "Cat Franken", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
