:root {
  --font-primary: 'Caslon', sans-serif;
  --font-secondary: 'Cat Franken', sans-serif;
  --font-size-base: var(--font-size-16);
  --color-shadow-primary: #524e4e;
}
@font-face {
  font-family: "Cat Franken";
  src: url("../fonts/catfranken-deutsch.ttf") format("truetype");
}
@font-face {
  font-family: "Caslon";
  src: url("../fonts/caslonpro-regular.otf") format("truetype");
}
@font-face {
  font-family: "Caslon Bold";
  src: url("../fonts/caslonpro-bold.otf") format("truetype");
}
@font-face {
  font-family: "Caslon Bold Italic";
  src: url("../fonts/caslonpro-bolditalic.otf") format("truetype");
}
@font-face {
  font-family: "Caslon Italic";
  src: url("../fonts/caslonpro-italic.otf") format("truetype");
}
.tenebris .character-sheet-common label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .item-sheet-common .form-fields {
  padding-top: 5px;
}
.tenebris .item-sheet-common label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .character-content {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: scroll;
}
.tenebris .character-content input[name="name"] {
  height: 50px;
  margin-right: 10px;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  border: none;
}
.tenebris .character-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .character-content .form-fields input,
.tenebris .character-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .character-content .form-fields input {
  padding-top: 10px;
}
.tenebris .character-content .form-fields select {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .character-content legend {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .character-content label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .character-main {
  display: flex;
}
.tenebris .character-main .character-personnage {
  display: flex;
  gap: 10px;
  flex: 1;
}
.tenebris .character-main .character-personnage .character-img {
  height: 200px;
  width: auto;
  border: none;
}
.tenebris .character-main .character-personnage .character-contenu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tenebris .character-main .character-personnage .character-contenu .character-name {
  display: flex;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos {
  display: flex;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-gauche {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-gauche label {
  min-width: 160px;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-gauche .character-voie-majeure {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-gauche .character-voie-mineure {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-gauche .character-commanditaire {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-droite {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-droite .character-pv {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-droite .character-pv .character-pv-value .form-fields {
  flex: none;
  width: 50px;
  margin-left: 10px;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-droite .character-pv .character-pv-max {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 0;
  align-items: center;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-droite .character-pv .character-pv-max input {
  width: 50px;
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
  padding-top: 10px;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-droite .character-pv .pv-separator {
  font-size: calc(var(--font-size-standard)*1.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-droite .character-dv .form-fields {
  flex: none;
}
.tenebris .character-main .character-personnage .character-contenu .character-infos .character-infos-droite .character-dmax .form-fields {
  flex: none;
}
.tenebris .character-main .character-caracteristiques {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  justify-content: space-between;
}
.tenebris .character-main .character-caracteristiques .character-caracteristique {
  display: flex;
  align-items: center;
}
.tenebris .character-main .character-caracteristiques .character-caracteristique .form-group {
  flex: 1;
}
.tenebris .character-main .character-caracteristiques .character-caracteristique .form-group .form-fields {
  flex: none;
  width: 70px;
}
.tenebris .character-main .character-caracteristiques .character-caracteristique .experience {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.tenebris .character-main .character-caracteristiques .character-caracteristique .experience input {
  display: flex;
  width: 70px;
  font-size: calc(var(--font-size-standard) * 1.6);
  align-items: center;
  justify-content: center;
  padding: 0 5px 0 5px;
}
.tenebris .character-main .character-caracteristiques .character-caracteristique .experience input[type="number"] {
  text-align: center;
  padding-top: 10px;
}
.tenebris .character-main .character-caracteristiques .rollable:hover {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.tenebris .character-main .character-ressources {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  justify-content: space-between;
}
.tenebris .character-main .character-ressources .form-fields {
  flex: none;
  width: 70px;
}
.tenebris .character-biography prose-mirror.inactive {
  min-height: 40px;
}
.tenebris .character-biography prose-mirror.active {
  min-height: 150px;
}
.tenebris .tab.character-items {
  display: grid;
  grid-template-columns: 1fr;
}
.tenebris .tab.character-items .talents {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.tenebris .tab.character-items .talents .talent {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.tenebris .tab.character-items .weapon {
  display: flex;
  gap: 10px;
}
.tenebris .tab.character-items .armor {
  display: flex;
  gap: 10px;
}
.tenebris .tab.character-items .appris {
  font-weight: bold;
}
.tenebris .tab.character-items prose-mirror.inactive {
  min-height: 40px;
}
.tenebris .tab.character-items prose-mirror.active {
  min-height: 150px;
}
.tenebris .opponent-content {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: scroll;
}
.tenebris .opponent-content input[name="name"] {
  height: 50px;
  margin-right: 10px;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  border: none;
}
.tenebris .opponent-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .opponent-content .form-fields input,
.tenebris .opponent-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .opponent-content .form-fields input {
  padding-top: 10px;
}
.tenebris .opponent-content .form-fields select {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .opponent-content legend {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .opponent-content label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .opponent-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tenebris .opponent-header .opponent-img {
  width: 100px;
  height: auto;
  margin: 10px;
}
.tenebris .opponent-header .character-name {
  display: flex;
  width: 100%;
}
.tenebris .opponent-main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.tenebris .opponent-main .opponent-gauche {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}
.tenebris .opponent-main .opponent-gauche .opponent-caracteristique {
  display: flex;
  flex-direction: row;
  /*
      fieldset {
        width: 100%; 
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
      }*/
  /*
      .form-group {
        margin-bottom: 5px;
      }
*/
}
.tenebris .opponent-main .opponent-gauche .opponent-caracteristique .form-fields input {
  max-width: 50px;
}
.tenebris .opponent-main .opponent-gauche .opponent-attacks legend a {
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .opponent-main .opponent-gauche .opponent-attacks .opponent-attack {
  display: flex;
  justify-content: space-between;
}
.tenebris .opponent-main .opponent-droite .opponent-description {
  flex: 1;
  /* Prend également l'espace disponible */
  min-width: 0;
  /* Pour éviter que le contenu ne déborde */
}
.tenebris .opponent-main .opponent-droite .opponent-description prose-mirror.inactive {
  min-height: 40px;
}
.tenebris .opponent-main .opponent-droite .opponent-description prose-mirror.active {
  min-height: 150px;
  height: 100%;
}
.tenebris .path-content {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .path-content input[name="name"] {
  height: 50px;
  margin-right: 10px;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  border: none;
}
.tenebris .path-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .path-content .form-fields input,
.tenebris .path-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .path-content .form-fields input {
  padding-top: 10px;
}
.tenebris .path-content .form-fields select {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .path-content legend {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .path-content .form-fields {
  padding-top: 5px;
}
.tenebris .path-content label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .path-content .path-name {
  display: flex;
  justify-content: space-between;
}
.tenebris .path-content .path-name .control {
  margin: 5px;
}
.tenebris .path-content .path-name img {
  width: 50px;
  height: 50px;
}
.tenebris .path-content .path-main {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  /* Optionnel : supprimer le margin-right sur la dernière colonne si vous avez besoin d'un espacement précis */
}
.tenebris .path-content .path-main .profil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tenebris .path-content .path-main .profil-gauche,
.tenebris .path-content .path-main .profil-droite {
  flex: 1;
  /* Chaque colonne prend la moitié de l'espace disponible */
  padding: 10px;
  /* Espacement intérieur */
}
.tenebris .path-content .path-main .profil-gauche {
  margin-right: 10px;
  /* Espace entre les deux colonnes */
}
.tenebris .path-content .path-main .profil-droite {
  margin-right: 0;
}
.tenebris .path-content .path-main .biens prose-mirror {
  height: 100%;
}
.tenebris .path-content .path-main .langues prose-mirror {
  height: 100%;
}
.tenebris .path-content .path-main .description {
  grid-column: span 3;
}
.tenebris .path-content .path-main .description prose-mirror.inactive {
  min-height: 40px;
}
.tenebris .path-content .path-main .description prose-mirror.active {
  min-height: 150px;
}
.tenebris .path-content .path-talents {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.tenebris .path-content .path-talents .talent {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}
.tenebris .path-content .path-talents .talent .header {
  display: flex;
  justify-content: space-between;
}
.tenebris .path-content .path-talents .talent .header .name {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.5);
  padding-left: 20px;
}
.tenebris .path-content .path-talents .talent .header .controls {
  font-size: calc(var(--font-size-standard) * 0.8);
}
.tenebris .path-content .path-talents .talent .progression {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.tenebris .path-content .path-talents .talent .description {
  font-size: calc(var(--font-size-standard) * 1);
}
.tenebris .talent-content {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .talent-content input[name="name"] {
  height: 50px;
  margin-right: 10px;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  border: none;
}
.tenebris .talent-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .talent-content .form-fields input,
.tenebris .talent-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .talent-content .form-fields input {
  padding-top: 10px;
}
.tenebris .talent-content .form-fields select {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .talent-content legend {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .talent-content .form-fields {
  padding-top: 5px;
}
.tenebris .talent-content label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .talent-content .header {
  display: flex;
}
.tenebris .talent-content .header img {
  width: 50px;
  height: 50px;
}
.tenebris .talent-content input[type="checkbox"] {
  font-size: var(--font-size-14);
}
.tenebris .weapon-content {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .weapon-content input[name="name"] {
  height: 50px;
  margin-right: 10px;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  border: none;
}
.tenebris .weapon-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .weapon-content .form-fields input,
.tenebris .weapon-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .weapon-content .form-fields input {
  padding-top: 10px;
}
.tenebris .weapon-content .form-fields select {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .weapon-content legend {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .weapon-content .form-fields {
  padding-top: 5px;
}
.tenebris .weapon-content label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .weapon-content label {
  flex: 10%;
}
.tenebris .armor-content {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .armor-content input[name="name"] {
  height: 50px;
  margin-right: 10px;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  border: none;
}
.tenebris .armor-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .armor-content .form-fields input,
.tenebris .armor-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .armor-content .form-fields input {
  padding-top: 10px;
}
.tenebris .armor-content .form-fields select {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .armor-content legend {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .armor-content .form-fields {
  padding-top: 5px;
}
.tenebris .armor-content label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .armor-content label {
  flex: 10%;
}
.tenebris .spell-content {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .spell-content input[name="name"] {
  height: 50px;
  margin-right: 10px;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  border: none;
}
.tenebris .spell-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .spell-content .form-fields input,
.tenebris .spell-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .spell-content .form-fields input {
  padding-top: 10px;
}
.tenebris .spell-content .form-fields select {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .spell-content legend {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .spell-content .form-fields {
  padding-top: 5px;
}
.tenebris .spell-content label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .spell-content label {
  flex: 10%;
}
.tenebris .spell-content input[name="system.consequenceA"],
.tenebris .spell-content input[name="system.consequenceB"] {
  font-size: calc(var(--font-size-standard) * 1.2);
}
.tenebris .attack-content {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tenebris .attack-content input[name="name"] {
  height: 50px;
  margin-right: 10px;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2.4);
  font-weight: bold;
  border: none;
}
.tenebris .attack-content fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}
.tenebris .attack-content .form-fields input,
.tenebris .attack-content .form-fields select {
  text-align: center;
  font-size: calc(var(--font-size-standard) * 1.6);
}
.tenebris .attack-content .form-fields input {
  padding-top: 10px;
}
.tenebris .attack-content .form-fields select {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.8);
}
.tenebris .attack-content legend {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  font-weight: bold;
  letter-spacing: 1px;
}
.tenebris .attack-content .form-fields {
  padding-top: 5px;
}
.tenebris .attack-content label {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.6);
  flex: 50%;
}
.tenebris .attack-content label {
  flex: 10%;
}
.tenebris .dialog-aide-gene {
  display: flex;
}
.tenebris .dialog-damage,
.tenebris .dialog-resource,
.tenebris .dialog-save {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
}
.tenebris.dice-roll .dice-total,
.tenebris.dice-roll .dice-formula {
  padding-top: 5px;
}
.tenebris.dice-roll .dice-total {
  margin-bottom: 5px;
}
.tenebris.dice-roll .message-header {
  font-family: var(--font-primary);
}
.tenebris.dice-roll img {
  border: 0px;
}
.tenebris.dice-roll .intro-chat {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.tenebris.dice-roll .intro-chat .intro-img {
  padding: 5px;
  width: 80px;
  align-self: center;
}
.tenebris.dice-roll .intro-chat .intro-right {
  display: flex;
  flex-direction: column;
}
.tenebris.dice-roll .intro-chat .intro-right .introText {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.5);
  width: 210px;
  text-align: center;
}
.tenebris.dice-roll .result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--font-size-standard) * 1.2);
  text-shadow: 0 0 10px var(--color-shadow-primary);
}
.tenebris.fortune img {
  border: 0px;
}
.tenebris.fortune .intro-chat {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.tenebris.fortune .intro-chat .intro-img {
  padding: 5px;
  width: 80px;
  align-self: center;
}
.tenebris.fortune .intro-chat .intro-right {
  display: flex;
  flex-direction: column;
}
.tenebris.fortune .intro-chat .intro-right .introText {
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 1.5);
  width: 210px;
  text-align: center;
}
.tenebris.fortune .button.control,
.tenebris.fortune .fortune-accepted {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--font-size-standard) * 1.3);
}
#tenebris-application-fortune {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#tenebris-application-fortune section.application-fortune {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--font-size-standard) * 2);
}
.application.dialog.tenebris {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: url("../assets/gabarit.webp");
}
.application.dialog.tenebris .legend {
  font-family: var(--font-primary);
}
#tooltip.tooltip-avantages {
  max-width: 550px;
  text-align: left;
}
.chat-message,
.chat-message.whisper {
  font-family: var(--font-primary);
  background-image: url("../assets/gabarit.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
