<section>
    {{fortune}}
    <br>
       <button type="button" class="action-button frame-brown" data-action="fortune" data-user-id={{userId}}>
            <i class="fas fa-arrow-right"></i>
            <label>Ask for fortune</label>
        </button>
</section>