{{!log 'tenebris-roll' this}}
<div class="tenebris dice-roll">
    <div class="dice-result">
        <h4 class="dice-total">{{total}}</h4>
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}        
    </div>
</div>
