.character-content {
  .sheet-common();
  .character-sheet-common();
  overflow: scroll;
}

.character-biography {
  prose-mirror.inactive{
    min-height: 40px;
  }
  prose-mirror.active{
    min-height: 150px;
  }
}

.character-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .character-personnage {
    flex: 0 0 60%;

    input[name="name"] {
      height: 50px;
    }
    label {
      flex: 20%;
    }

    .character-personnage-contenu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5px;

      .character-img {
        grid-column: 1 / 2;
        grid-row: 1 / 5;
        width: 200px;
      }

      .character-name {
        display: flex;
        grid-column: 2 / 4;
        grid-row: 1 / 2;
      }

      .character-voie-majeure {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        display: flex;
        .controls {
          display: flex;
          align-content: center;
          align-items: center;
          margin-left: 10px;
        }
        .control {
          height: 30px;
          width: 30px;
        }
      }

      .character-voie-mineure {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        display: flex;
        .controls {
          display: flex;
          align-content: center;
          align-items: center;
          margin-left: 10px;
        }
        .control {
          height: 30px;
          width: 30px;
        }
      }

      .character-commanditaire {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
      }

      .character-pv {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        input[name="system.pv.value"] {
          padding-top: 10px;
          text-align: center;
          font-size: calc(var(--font-size-standard) * 1.6);
          width: 50px;
        }
        input[name="system.pv.max"] {
          padding-top: 10px;
          text-align: center;
          font-size: calc(var(--font-size-standard) * 1.6);
          width: 50px;
        }
      }

      .character-dv {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
      }

      .character-dmax {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
      }
    }

    .character-img {
      border: none;
    }
  }

  .character-caracteristiques {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    input {
      width: 20px;
    }
  }

  .character-ressources {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .rollable:hover,
  .rollable:focus {
    text-shadow: 0 0 10px #eea3a3;
    cursor: pointer;
  }

  input[readonly],
  input[disabled] {
    pointer-events: none; /* Permet aux clics de "passer à travers" l'input */
  }
}

.tab.character-items {
  display: grid;
  grid-template-columns: 1fr;
  .talents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    .talent {
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }
  }
  .weapon {
    display: flex;
    gap: 10px;
  }
  .armor {
    display: flex;
    gap: 10px;
  }
  .appris {
    font-weight: bold;
  }
  prose-mirror.inactive{
    min-height: 40px;
  }
  prose-mirror.active{
    min-height: 150px;
  }
}
