.character-content {
  .sheet-common();
  .character-sheet-common();
  overflow: scroll;
}

.character-main {
  display: flex;

  .character-personnage {
    display: flex;
    gap: 10px;
    flex: 1;

    .character-gauche {
      min-width: 180px;
      display: flex;
      flex-direction: column;

      .character-gauche-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        .character-img {
          height: 140px;
          width: auto;
          border: none;
        }
      }

      .character-dv,
      .character-dmax {
        .form-fields {
          flex: none;
        }
      }
    }

    .character-droite {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .character-name {
        display: flex;
      }

      .character-infos {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          min-width: 120px;
        }

        .character-voie-majeure,
        .character-voie-mineure {
          display: flex;
          .controls {
            padding-left: 5px;
          }
        }

        .character-pv {
          display: flex;
          gap: 2px;
          align-items: center;
          .character-pv-value {
            .form-fields {
              flex: none;
              width: 50px;
              margin-left: 10px;
            }
          }
          .character-pv-max {
            clear: both;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 3px 0;
            align-items: center;
            input {
              width: 50px;
              text-align: center;
              font-size: calc(var(--font-size-standard) * 1.6);
              padding-top: 10px;
            }
          }
          .pv-separator {
            font-size: calc(var(--font-size-standard) * 1.4);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .character-personnage-play {
    min-width: 600px;
  }

  .character-personnage-edit {
    min-width: 650px;
  }

  .character-caracteristiques {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;

    .character-caracteristique {
      display: flex;
      align-items: center;
      .form-group {
        flex: 1;
        padding-left: 5px;
        .form-fields {
          flex: none;
          width: 70px;
        }
      }
      .experience {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
        input {
          display: flex;
          width: 70px;
          font-size: calc(var(--font-size-standard) * 1.6);
          align-items: center;
          justify-content: center;
          padding: 0 5px 0 5px;
        }
        input[type="number"] {
          text-align: center;
          padding-top: 10px;
        }
      }
    }
  }

  .character-caracteristiques-play {
    min-width: 225px;
  }

  .character-caracteristiques-edit {
    min-width: 400px;
  }

  .character-ressources {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    //justify-content: space-between;
    min-width: 235px;

    .form-fields {
      flex: none;
      width: 70px;
    }
  }

  .rollable:hover,
  .rollable:focus {
    text-shadow: 0 0 8px var(--color-shadow-primary);
    cursor:
      url("../assets/dice/d20-red.svg") 32 24,
      pointer;
  }
}

.character-biography {
  prose-mirror.inactive {
    min-height: 40px;
  }
  prose-mirror.active {
    min-height: 150px;
  }
}

.tab.character-items {
  display: grid;
  grid-template-columns: 1fr;
  legend {
    a {
      font-size: calc(var(--font-size-standard) * 1.6);
      padding-left: 5px;
    }
  }
  .talents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    .talent {
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }
  }
  .weapons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .weapon {
      display: flex;
      gap: 10px;
    }
  }
  .armors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .armor {
      display: flex;
      gap: 10px;
    }
  }

  .appris {
    font-weight: bold;
  }
  prose-mirror.inactive {
    min-height: 40px;
  }
  prose-mirror.active {
    min-height: 150px;
  }
}
