.character-content {
  .sheet-common();
}

.character-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .character-personnage {
    flex: 0 0 60%;

    .character-personnag-contenu {
      display: flex;
      flex-direction: row;
      align-items: center;

      .character-name {
        display: flex;
      }

      .character-personnage-gauche,
      .character-personnage-droite {
        margin-top: 10px;
      }

      .character-personnage-gauche {
        margin-right: 10px;
      }

      .character-personnage-droite {
        display: flex;
        flex-direction: column;
        .character-pv {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          input[name="system.pv.max"] {
            padding-top: 10px;
            text-align: center;
            font-size: calc(var(--font-size-standard) * 1.6);
            width: 80px;
          }
        }
      }
    }

    .character-img {
      width: 100px;
      margin: 10px;
    }

    .character-voies {
      display: flex;
      flex-direction: row;
    }
  }

  //.character-details {}
  //display: flex;
  //justify-content: space-between;
  .character-caracteristiques {
    width: 15%;
    //flex: 0 0 15%;

    input {
      width: 20px;
    }
  }

  .character-ressources {
    width: 20%;
    //flex: 0 0 20%;
  }
}
