:root {
  --font-size-13: 0.8125rem;
  --font-size-16: 1rem;
  --font-size-standard: var(--font-size-13);
  --background-image-base: url("../assets/parchment.jpg");
  --font-secondary: "Amiri", serif;
}
