:root {
  --font-size-standard: 0.8125rem;
  --background-image-base: url("../assets/parchment.jpg");
  --font-secondary: "Amiri", serif;
  --logo-standard: url("../assets/tenebris-logo.webp");
}

#logo {
  content: var(--logo-standard);
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

#pause > img {
  content: var(--logo-standard);
  width: 120px;
  height: 120px;
}

.icon.tenebris {
  //width: 36px;
  //height: 36px;
  background-image: var(--logo-standard);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  filter: grayscale(1);
  transition: 0.3s;
}

.application.dialog.tenebris {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: var(--background-image-base);
  button:hover {
    background: var(--color-dark-6);
  }
  .legend {
    font-family: var(--font-primary);
  }
}

#tooltip.tooltip-avantages {
  max-width: 550px;
  text-align: left;
}

.chat-message,
.chat-message.whisper {
  font-family: var(--font-primary);
  background-image: var(--background-image-base);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
