.sheet-common() {
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-standard) * 1.2);
  background-image: var(--background-image-base);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  input[name="name"] {
    height: 50px;
    margin-right: 10px;
    font-family: var(--font-secondary);
    font-size: calc(var(--font-size-standard) * 2.4);
    font-weight: bold;
    border: none;
  }

  fieldset {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .form-fields {
    input,
    select {
      text-align: center;
      font-size: calc(var(--font-size-standard) * 1.6);
    }
    input {
      padding-top: 10px;
    }
    select {
      font-family: var(--font-secondary);
      font-size: calc(var(--font-size-standard) * 1.8);
    }
  }

  legend {
    font-family: var(--font-secondary);
    font-size: calc(var(--font-size-standard) * 2);
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.character-sheet-common {
  label {
    font-family: var(--font-secondary);
    font-size: calc(var(--font-size-standard) * 1.6);
    //flex: 50%;
  }
}

.item-sheet-common {
  .form-fields {
    padding-top: 5px;
  }

  label {
    font-family: var(--font-secondary);
    font-size: calc(var(--font-size-standard) * 1.6);
    flex: 50%;
  }
}
