.opponent-content {
  .sheet-common();
  overflow: scroll;
  label {
    font-family: var(--font-secondary);
    font-size: calc(var(--font-size-standard) * 1.6);
  }
}

.opponent-header {
  display: flex;
  align-items: center;
  justify-content: center;
  .opponent-img {
    width: 100px;
    height: auto;
    margin: 10px;
  }
  .character-name {
    display: flex;
    width: 100%;
  }
}

.opponent-main {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .opponent-gauche {
    display: flex;
    flex-direction: column;
    min-width: 450px;

    .opponent-caracteristique {
      display: flex;
      flex-direction: row;
      /*
      fieldset {
        width: 100%; 
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
      }*/
      /*
      .form-group {
        margin-bottom: 5px;
      }
*/
      .form-fields input {
        max-width: 50px;
      }
    }

    .opponent-attacks {
        legend {
            a {
                font-size: calc(var(--font-size-standard) * 1.6);
            }
        }
        .opponent-attack {
            display: flex;
            justify-content: space-between;
        }
    }
  }

  .opponent-droite {
    .opponent-description {
      flex: 1; /* Prend également l'espace disponible */
      min-width: 0; /* Pour éviter que le contenu ne déborde */
      prose-mirror.inactive {
        min-height: 40px;
        //min-width: 200px;
      }
      prose-mirror.active {
        min-height: 150px;
        height: 100%;
      }
    }
  }
}
