.application.dialog.tenebris {
  color: var(--color-dark-1);

  input,
  select {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: var(--color-dark-6);
    color: var(--color-dark-2);
  }
}

.dialog-aide-gene {
  display: flex;
}

.dialog-damage, .dialog-resource, .dialog-save {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-standard) * 2);
  color: var(--color-dark-1);
}

&.dice-roll {
  flex-direction: column;

  .dice-total,
  .dice-formula {
    padding-top: 5px;
  }
  .dice-total {
    margin-bottom: 5px;
  }
  .message-header {
    font-family: var(--font-primary);
  }
  img {
    border: 0px;
  }
  .intro-chat {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    .intro-img {
      padding: 5px;
      width: 80px;
      align-self: center;
    }
    .intro-right {
      display: flex;
      flex-direction: column;
      .introText {
        font-family: var(--font-secondary);
        font-size: calc(var(--font-size-standard) * 1.2);
        width: 210px;
        text-align: center;
      }
    }
  }
  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--font-size-standard) * 1.2);   
    text-shadow: 0 0 10px var(--color-shadow-primary); 
  }
}
