.talent-content {
  .sheet-common();
  .item-sheet-common();

  input[type="checkbox"] {
    background-color: rgba(0, 0, 0, 0.0);
    font-size: var(--font-size-14);
    width: 20px;
  }
  
  input[type="checkbox"]:checked::after {
    color: rgba(0, 0, 0, 0.1);
  }

  range-picker {
    input[type="number"] {
      padding-top: 10px;
    }
  }
}
